#(project
  (#(meta
     (#(name lhc)
      #(description "LFE Little HTTP Client")
      #(version "0.3.0")
      #(keywords ("LFE" "Lisp" "Library" "HTTP" "Client"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "lfex/lhc")))))
   #(app
     (#(mod #(lhc ()))))))

#(lhc (#(backend lhttpc)))
