#(project
  (#(meta
     (#(name lhc)
      #(description "Little HTTP Client.")
      #(version "0.1.0")
      #(keywords ("LFE" "Lisp" "Library" "HTTP" "Client"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "lfex/lhc")))))
   #(app
     (#(mod #(lhc ()))))
   #(deps (#("rvirding/lfe" "develop")))))
