{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, ["src/lhc.lfe"]}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.
{deps, [
   {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", {branch, "develop"}}},
   {lutil, ".*", {git, "https://github.com/lfex/lutil.git", {tag, "0.6.6"}}},
   {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.6.2"}}},
   {lhttpc, ".*", {git, "git://github.com/billosys/lhttpc.git", "master"}},
   {ljson, ".*", {git, "git://github.com/lfex/ljson.git", {tag, "0.3.0"}}},
   {dlhttpc, ".*", {git, "git://github.com/ferd/dlhttpc.git", {branch, "master"}}},
   {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
   {lcfg, ".*", {git, "git://github.com/lfex/lcfg.git", {tag, "0.1.0"}}}
  ]}.
